DJANGO_DEBUG=true
DJANGO_SECRET_KEY=l7yjh_kfu2ompzy0o1yd^7-ol=1my506%q+8&+a5p)qbhp8!tn
DATABASE_URL=postgres://postgres:postgres@farzadfaalir_postgres:5432/farzadfaalir
WAGTAILADMIN_BASE_URL=localhost
