{% load static %}
<section class="py-16 bg-base-200">
  <div class="container space-y-4">
    <div>
      <h2 class="text-2xl md:text-4xl font-black">Technical Expertise</h2>
      {% comment %} djlint:off {% endcomment %}
      <p class="md:text-lg text-base-content/80">Technologies, tools, and disciplines used to design, build, and operate production systems.</p>
    </div>
    <div class="grid grid-cols-5 lg:grid-cols-10 gap-4">
      <div class="p-[20%] bg-base-100 rounded-[20%] inline-flex items-center justify-center">
        <img src="{% static 'images/home/python-logo.png' %}"
             alt="Python logo"
             width="400"
             height="400"
             class="w-full h-auto">
      </div>
      <div class="p-[20%] bg-base-100 rounded-[20%] inline-flex items-center justify-center">
        <img src="{% static 'images/home/django-logo.png' %}"
             alt="Django logo"
             width="400"
             height="400"
             class="w-full h-auto">
      </div>
      <div class="p-[20%] bg-base-100 rounded-[20%] inline-flex items-center justify-center">
        <img src="{% static 'images/home/fastapi-logo.png' %}"
             alt="Python logo"
             width="400"
             height="400"
             class="w-full h-auto">
      </div>
      <div class="p-[20%] bg-base-100 rounded-[20%] inline-flex items-center justify-center">
        <img src="{% static 'images/home/docker-logo.png' %}"
             alt="Docker logo"
             width="400"
             height="400"
             class="w-full h-auto">
      </div>
      <div class="p-[20%] bg-base-100 rounded-[20%] inline-flex items-center justify-center">
        <img src="{% static 'images/home/nginx-logo.png' %}"
             alt="Nginx logo"
             width="400"
             height="400"
             class="w-full h-auto">
      </div>
      <div class="p-[20%] bg-base-100 rounded-[20%] inline-flex items-center justify-center">
        <img src="{% static 'images/home/postgres-logo.png' %}"
             alt="Postgres logo"
             width="400"
             height="400"
             class="w-full h-auto">
      </div>
      <div class="p-[20%] bg-base-100 rounded-[20%] inline-flex items-center justify-center">
        <img src="{% static 'images/home/redis-logo.png' %}"
             alt="Redis logo"
             width="400"
             height="400"
             class="w-full h-auto">
      </div>
      <div class="p-[20%] bg-base-100 rounded-[20%] inline-flex items-center justify-center">
        <img src="{% static 'images/home/nodejs-logo.png' %}"
             alt="Nodejs logo"
             width="400"
             height="400"
             class="w-full h-auto">
      </div>
      <div class="p-[20%] bg-base-100 rounded-[20%] inline-flex items-center justify-center">
        <img src="{% static 'images/home/react-logo.png' %}"
             alt="React logo"
             width="400"
             height="400"
             class="w-full h-auto">
      </div>
      <div class="p-[20%] bg-base-100 rounded-[20%] inline-flex items-center justify-center">
        <img src="{% static 'images/home/nextjs-logo.png' %}"
             alt="Nextjs logo"
             width="400"
             height="400"
             class="w-full h-auto">
      </div>
    </div>
  </div>
</section>
