{% extends "base.html" %}
{% block title %}
  فرزاد فعال
{% endblock title %}
{% block body %}
  <section>
    <h1 class="text-7xl text-primary">
      I'm Farzad, Backend Software Engineer
      <br>
      &amp; Solution Designer.
    </h1>
    <p>
      I spcialize in Backend Engineering with a strong focus on REST APIs, background processing, and data-intensive applications. I've also a proven ownership of backend architectures used by tens of thousands of users in B2B and B2C environments.
    </p>
  </section>
  <section>
    <div class="flex items-center justify-between">
      <h2 class="text-2xl">Latest Articles</h2>
      <a href="" class="btn btn-link">All articles</a>
    </div>
  </section>
  <section>
    Portfolio section
  </section>
  <section>
    Skills section
  </section>
{% endblock body %}
