{% load static wagtailcore_tags %}
<footer class="bg-base-200 py-8">
  <div class="container">
    <div class="flex flex-col md:flex-row md:justify-between items-center gap-2 md:gap-0">
      <div class="flex flex-col md:flex-row items-center gap-2 md:gap-0">
        <div class="flex items-center">
          {% include "includes/logo.html" %}
          <span class="border-r border-base-content hidden md:inline md:mx-4 min-h-4"></span>
        </div>
        <p class="text-center md:text-start">
          Designed &amp; Developed by <a class="link link-secondary">Me</a>.
          <br class="md:hidden" />
          Built with <a class="link link-secondary" href="https://djangoproject.com">Django</a> &amp; <a class="link link-secondary" href="https://wagtail.org">Wagtail</a>.
        </p>
      </div>
      <div class="flex items-center gap-2">
        <a href="https://linkedin.com/in/farzadfaal"
           class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="currentColor">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M17 2a5 5 0 0 1 5 5v10a5 5 0 0 1 -5 5h-10a5 5 0 0 1 -5 -5v-10a5 5 0 0 1 5 -5zm-9 8a1 1 0 0 0 -1 1v5a1 1 0 0 0 2 0v-5a1 1 0 0 0 -1 -1m6 0a3 3 0 0 0 -1.168 .236l-.125 .057a1 1 0 0 0 -1.707 .707v5a1 1 0 0 0 2 0v-3a1 1 0 0 1 2 0v3a1 1 0 0 0 2 0v-3a3 3 0 0 0 -3 -3m-6 -3a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1" />
          </svg>
        </a>
        <a href="mailto:farzadfaal@outlook.com" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="currentColor">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" />
            <path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
